<ion-navbar *navbar>
    <ion-title>Einstellungen</ion-title>
</ion-navbar>

<ion-content padding class="page1">
    <p>
        Hier kannst du einstellen, in welche Klasse du bist und in welchen Kursen du bist.
    </p>

    <h3>Klasse</h3>

    <ion-item>
        <ion-label>Klasse</ion-label>
        <ion-select [(ngModel)]="class">
            <ion-option *ngIf="user.class" value="s{{user.class}}" checked>{{user.class}}</ion-option>
            <ion-option value="--1">--</ion-option>
            <ion-option value="E1" *ngIf="user.class !== 'E1'">E1</ion-option>
            <ion-option value="E2" *ngIf="user.class !== 'E2'">E2</ion-option>
            <ion-option value="E3" *ngIf="user.class !== 'E3'">E3</ion-option>
            <ion-option value="E4" *ngIf="user.class !== 'E4'">E4</ion-option>
            <ion-option value="E5" *ngIf="user.class !== 'E5'">E5</ion-option>
            <ion-option value="--2">--</ion-option>
            <ion-option value="J1.1" *ngIf="user.class !== 'J1.1'">J1.1</ion-option>
            <ion-option value="J1.2" *ngIf="user.class !== 'J1.2'">J1.2</ion-option>
            <ion-option value="J1.3" *ngIf="user.class !== 'J1.3'">J1.3</ion-option>
            <ion-option value="J1.4" *ngIf="user.class !== 'J1.4'">J1.4</ion-option>
            <ion-option value="J1.5" *ngIf="user.class !== 'J1.5'">J1.5</ion-option>
            <ion-option value="--3">--</ion-option>
            <ion-option value="J2.1" *ngIf="user.class !== 'J2.1'">J2.1</ion-option>
            <ion-option value="J2.2" *ngIf="user.class !== 'J2.2'">J2.2</ion-option>
            <ion-option value="J2.3" *ngIf="user.class !== 'J2.3'">J2.3</ion-option>
            <ion-option value="J2.4" *ngIf="user.class !== 'J2.4'">J2.4</ion-option>
            <ion-option value="J2.5" *ngIf="user.class !== 'J2.5'">J2.5</ion-option>
        </ion-select>
    </ion-item>

    <h3>Kurse</h3>

    <!-- TODO GET COURSES FROM BACKEND -->

    <ion-item>
        <ion-label>Wirtschaft</ion-label>
        <ion-select [(ngModel)]="courses[0]">
            <ion-option *ngIf="user.class" value="s{{user.class}}" checked>{{user.courses[0]}}</ion-option>
            <ion-option value="--1">--</ion-option>
            <ion-option value="W1">1. Noetzelmann (vormittag)</ion-option>
            <ion-option value="W2">2. Noetzelmann (nachmittag)</ion-option>
            <ion-option value="W3">3. Beck (vormittag)</ion-option>
            <ion-option value="W4">4. Beck (nachmittag)</ion-option>
            <ion-option value="--2">--</ion-option>
        </ion-select>
    </ion-item>

    <ion-item>
        <ion-label>Sport</ion-label>
        <ion-select [(ngModel)]="courses[1]">
            <ion-option *ngIf="user.class" value="s{{user.class}}" checked>{{user.courses[1]}}</ion-option>
            <ion-option value="--1">--</ion-option>
            <ion-option value="S1">1. Müller (vormittag)</ion-option>
            <ion-option value="S2">2. Müller (nachmittag)</ion-option>
            <ion-option value="S3">3. Asdf (vormittag)</ion-option>
            <ion-option value="S4">4. Asdf (nachmittag)</ion-option>
            <ion-option value="S5">5. Sonstwas</ion-option>
            <ion-option value="--2">--</ion-option>
        </ion-select>
    </ion-item>

    <button (click)="ready()" style="margin-top:15px">Fertig</button>
</ion-content>
