<ion-navbar *navbar>
  <ion-title>GDS1 Vertretungsplan</ion-title>
</ion-navbar>

<ion-content class="page2">
    <ion-card *ngFor="let item of results">
        <ion-card-header>
            <span *ngIf="item.type === 'cancel'">Ausfall</span>
            <span *ngIf="item.type === 'message'">Nachricht: {{item.title}}</span>

            <em>{{item.date}}</em>
        </ion-card-header>
        <ion-card-content>
            <div>Klassen: {{(item.classes || item.courses).join(', ')}}</div>
            <div *ngIf="item.type === 'cancel'">Stunden: {{(item.hours).join(', ')}}</div>
            <div><small>{{item.comment}}</small></div>
            <div *ngIf="item.type === 'message'">Nachricht: {{item.message}}</div>
        </ion-card-content>
    </ion-card>

    <button (click)="refresh()" style="margin-top:15px;margin: 0 auto">Aktualisieren</button>
</ion-content>
